* {
    box-sizing: border-box;
}

:focus {
    outline: none;
}

body {
    margin: 0;
    background-color: #F4F9F5;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#root {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    flex-wrap: wrap;
}

#generateMosaicBlockHeader {
    display: flex;
    width: 100%;
    height: 50px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.button {
    background-color: #13D5AC;
    color: white;
    border: none;
    padding: 5px 10px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
}

#palette {
    display: flex;
    width: 100px;
    height: calc(100vh - 105px);
    padding: 10px 0;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    background-color: #E63946;
}

#generateMosaicBlock {
    height: calc(100vh - 70px);
    width: calc(100vw - 450px);
}

#desk {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 10px 0 auto;
    border: 1px solid #A5A5A5;
    background-color: white;
}

.block {
    position: absolute;
    border: 1px solid black;
}

.active {
    outline: 1px ridge red;
    box-shadow: 0px 0px 5px red;
    z-index: 3;
}

#additionalFeaturesBlock {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#additionalFeaturesBlockHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    margin: 0;
}

#featurePalette {
    margin-right: 40px;
}

#burger {
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#additionalFeatures {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#featuresInputs {
    display: flex;
    flex-direction: column;
}

.featuresInputsInfoBlock {
    width: 170px;
}

#featuresInputs input {
    width: 100%;
    margin: 5px 0 15px 0;
}

#headerInputs {
    display: flex;
    justify-content: space-between;
}

.featuresHeader {
    margin: 0 0 20px 0;
    text-align: center;
}

#gridColorContainer {
    margin-right: 4vw;
}

.palette-block {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 50%;
}